**/images/
**/.idea/
**/build/
**/bin/
**/dep/
**/obj/
**/output/
**/testing/
**/movies/
**/log/

H5Renderer/obj/*
H5Renderer/bin/*

testcases/*.h5

**/.idea/

**/log/

docs/*
doc/html/*
doc/latex/*

kepler/*
plummer/*.h5
plummer/pl_N*/*
sedov/*.h5
sedov/sedov_N*/*
bb/*.h5
bb/bb_N*/*


*.h5
!examples/*.h5
*.numbers
*.mp4
*.csv
!documents/*.csv
# ignore MPI-debug lldb pipe
*.lldb

*.d
*.o

# ignore deploy script to hide user and server name
deploy.sh