/* Override font selections */
:root {
	/*--main-color: #852b0a;*/
	--main-color: #2E4053;
	--main-color-light: #5D6D7E;
	--main-color-dark: #212F3D;
	--default-color: #414140;
	--default-color-dark: #242423;
	--link-color: #383847;
	--link-color-visited: #252532;
	--warn-color: #4e0808;
	--emphasize-color: #47470f;
	--black-color: #000000;
	--white-color: #FFFFFF;
	--background-color: #f4f7f7;
	--background-color-emphasize: #EAEDED;
	--border-color: #B3B6B7;
}

.section.note {
	background: rgba(161, 180, 217, 0.5);
	border-color: rgb(161, 180, 217);
}

.section.note:before {
	content: 'Info:'
}

.section.warning {
	background: rgba(245, 157, 84, 0.5);
	border-color: rgb(245, 157, 84);
}

/* alter search box by overriding */
#MSearchBox {
	border-radius: 0px;
	/*color: #779CE7;
	color: #1D4DAC;
	color: #EAF0FB;
	color: #2053B9;
	color: #2053B9;
	color: #EDF2FB;
	color: #1D4DAC;*/
}
#MSearchField {
	width: 12.5em;
}
#MSearchSelectWindow {
	border: 1px solid #3b3a3a;
	/*background-color: #F8FAFD;*/
}
#MSearchResultsWindow {
	background-color: white;
}
a.SelectItem:hover {
	background-color: #3c3c3c;
}
.SRSymbol {
	color: #282828;
}
a.SRScope {
	color: #282828;
}
/* end: search box by overriding */

.custom-header-class {
	position: fixed;
	top: 0; /*position: fixed;*/
	background: white;
	z-index:10002;
	width: 100%;
}
/*body { min-height: 100vh; position:absolute; top:0; bottom:0; right:0; left:0; }*/

body, table, div, p, dl {
	font: 400 14px/22px "Noto Sans",Arial,sans-serif;
}

p.reference, p.definition {
	font: 400 14px/22px "Noto Sans",Arial,sans-serif;
}

pre.fragment {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

div.line {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	line-height: 1.4;
}

.span {
	display: inline-block;
}

.overload {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

.params .paramdir, .tparams .paramdir {
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

table.directory {
    font: 400 14px "Noto Sans", Arial,sans-serif;
}

.navpath li.navelem a
{
	font-family: "Noto Sans", Arial, sans-serif;
}

div.toc li {
	font: 10px/1.2 "Noto Sans", Arial,sans-serif;
}

div.toc h3 {
	font: bold 12px/1.2 "Noto Sans", Arial,sans-serif;
}

#powerTip div {
	font: 12px/16px "Noto Sans", Arial,sans-serif;
}

/* Remove rounded borders */
div.ah, span.ah {
	border-radius: 0;
}

.memtitle {
	border-radius: 0;
}

.memproto, dl.reflist dt {
	border-radius: 0;
}

.memdoc, dl.reflist dd {
	border-radius: 0;
}

table.fieldtable td {
	border-radius: 0;
	background: var(--background-color-emphasize);
}

.fieldtable th {
	border-radius: 0;
}

div.toc {
	border-radius: 0;
}

#powerTip {
	border-radius: 0;
}

/* Colors and headers */

body {
	color: #333333; /* mine shaft */
	background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--black-color);
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0;
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin var(--border-color);
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: dotted thin var(--border-color);
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: dotted thin var(--border-color);
}

h4 {
	font-size: 1.1em;
	font-weight: normal;
}

h5, h6 {
	font-size: 1.0em;
	font-weight: normal;
}

.title {
	color: var(--black-color);
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin var(--border-color);
	margin-top: 1em;
	margin-bottom: 1em;
}

h2.groupheader, h2.memtitle {
	font-size: 1.3em;
	border: none;
	border-bottom: dotted thin var(--border-color);
	color: var(--black-color);
	margin-top: 1em;
	padding: 0;
	background: none;
}

.dirtab {
	border: 1px solid var(--border-color);
}

th.dirtab {
	background-color: var(--background-color);
}

/* Links */

a:link {
	font-weight: bold;
	text-decoration: none;
	color: var(--link-color);
}

.contents a:visited {
	font-weight: bold;
	text-decoration: none;
	color: var(--link-color-visited);
}

a:hover, a:active {
	text-decoration: underline;
	color: var(--link-color-visited);
}

/* Some headers act as anchors, don't give them a hover effect */

h1 a:hover, a:active, h2 a:hover, a:active, h3 a:hover, a:active,
h4 a:hover, a:active, h5 a:hover, a:active, h6 a:hover, a:active {
	text-decoration: none;
	color: var(--black-color);
}

/* Custom Header */

#banner {
	position: relative;
	top: 0;
	left: 0;
	height: 90px; /*100 px*/
	background: var(--main-color);
	padding-top: 100px;
}

#banner-footer-first {
	position: relative;
	top: 0;
	left: 0;
	height: 10px; /*100 px*/
	background: var(--main-color-light);
}

#banner-footer-second {
	position: relative;
	top: 0;
	left: 0;
	height: 20px; /*100 px*/
	background: var(--main-color);
}

#banner div.logo {
	/*background: url('https://astrotourismwa.com.au/wp-content/uploads/2018/12/Milky-Way-Galaxy-1080x675.jpg');
	background: url('public_domain_astronomy_25.jpeg');*/
	background-color: var(--main-color);
	background-repeat: repeat;
	/*background-size: auto auto;*/
	/*min-width: 19em;
	max-width: 7000em;
	height: 100%;
	width: 100%;
	margin: 0 auto;*/
	height: 100%;
	margin: 0 0;

}

#banner span.subtitle {
	position: relative;
	top: 48px;
	left: 352px;
	/*color: #333333;*/
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: normal;
}

#banner span.search {
	position: relative;
	top: 48px;
	left: 600px;
}

input[type=text], input[type=password] {
	font-size: inherit;
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	margin-top: 3px;
	padding: 2px;
	width: 200px;
}

div.header {
	margin-top: 20px;
	margin: 10px auto;
	min-width: 59em;
	max-width: 70em;
	border: none;
	background: none;
}

div.summary {
	margin: 0 auto;
	min-width: 59em;
	max-width: 70em;
	display: none;
}

div.headertitle {
	min-width: 59em;
	max-width: 70em;
	padding: 0;
}

div.headertitle div.title {
	color: var(--black-color);
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: dotted thin var(--border-color);
	margin-top: 1em;
	margin-bottom: 1em;
}

.ingroups {
	margin-top: 10px;
}

/* Make the "Since" member docs one line */

dl.since {
	margin-top: 1em;
}

dl.since dt {
	display: inline;
	padding-right: 0.5em;
}

dl.since dd {
	display: inline;
}


/* Navigation Tabs (overrides tabs.css) */
.sm-dox {
	background: var(--main-color-light); /*var(--main-color-light); var(--background-color);*/
	padding: 8px;
}

@media (min-width: 768px) {
	.sm-dox > li > a, .sm-dox > li > a:hover, .sm-dox > li > a:visited,
	.sm-dox > li > a:link, .sm-dox > li > a:active {
		padding: 0 12px 0 0;
	}

	.sm-dox > li > a.has-submenu {
		padding-right: 24px;
	}
}

.sm-dox a, .sm-dox ul a, .sm-dox a:visited, .sm-dox ul a:visited,
.sm-dox a:link, .sm-dox ul a:link {
	background-image: none;
	color: var(--link-color);
	text-shadow: none;
}

.sm-dox a:hover, .sm-dox ul a:hover {
	/*background-color: var(--background-color);*/
	background-image: none;
	color: var(--link-color-visited);
	text-decoration: underline;
	text-shadow: none;
}

.sm-dox a:active, .sm-dox ul a:active {
	color: var(--link-color);
	text-decoration: none;
	text-shadow: none;
}

.sm-dox a:focus, .sm-dox ul a:focus,
.sm-dox a.highlighted, .sm-dox ul a.highlighted {
	background-image: none;
	color: var(--link-color);
	text-shadow: none;
}

@media (min-width: 768px) {
	.sm-dox a span.sub-arrow {
		border-top-color: var(--border-color);
	}

	.sm-dox ul a span.sub-arrow {
		border-left-color: var(--border-color);
	}
}

.sm-dox span.scroll-up-arrow {
	border-bottom-color: var(--black-color);
}

.sm-dox span.scroll-down-arrow {
	border-top-color: var(--black-color);
}

@media (min-width: 768px) {
	.sm-dox a:hover span.sub-arrow {
		border-top-color: var(--link-color);
	}

	.sm-dox ul a:hover span.sub-arrow {
		border-left-color: var(--link-color);
	}
}

.sm-dox span.scroll-up-arrow {
	border-bottom-color: var(--black-color);
}

.sm-dox span.scroll-down-arrow {
	border-top-color: var(--black-color);
}

div#main-nav {
	left: 0;
	top: 0;
	background: var(--main-color-light);
	margin: 0 auto;
	padding: 0;
}


div#main-nav ul#main-menu {
	margin: 0 auto;
	list-style: none;
	max-width: 70em;
}

div.navpath {
	margin: 20px auto;
	min-width: 29em; /* 49 */
	max-width: 70em;
}

div.navpath ul {
	display: inline;
}

div.tabs ul.tablist li, div.tabs2 ul.tablist li, div.tabs3 ul.tablist li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}

div.tabs ul.tablist li span, div.tabs2 ul.tablist li span,
	div.tabs3 ul.tablist li span {
	display: inline;
	padding-right: 9px;
	white-space: nowrap;
}

div.tabs ul.tablist li li.current a, div.tabs2 ul.tablist li li.current a,
	div.tabs3 ul.tablist li li.current a {
	color: var(--black-color);
	text-decoration: none;
}

/* Standard table styling */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

/* Contents & footer: center on page with a maximum width */

div.contents, .footer {
	line-height: 1.5;
	margin: 10px auto;
	min-width: 59em;
	max-width: 70em;
}

/* Contents: Style the elements on the page */

div.contents em, div.contents code, div.contents .mlabel {
	font-weight: normal;
	font-style: normal;
}

div.contents em {
	color: var(--main-color); /* grenadier */
}

div.contents .mlabels-right {
	vertical-align: middle;
}


div.contents code, span.mlabel {
	color: var(--black-color);
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	font-weight: normal;
	font-style: normal;
	border:none;
}

div.title span.mlabel {
	background-color: var(--background-color-emphasize);
	font-size: 14.4px;
}

span.mlabel {
	background-color: var(--background-color-emphasize);
}

div.memproto span.mlabel {
	background-color: var(--background-color);
	font-size: 14.4px;
}

span.mlabel:before {
	content: "[";
}

span.mlabel:after {
	content: "]";
}

div.contents td {
	line-height: 1.3;
}

div.contents td span.arrow {
	cursor: pointer;
}

div.contents td.desc {
	font-weight: normal;
}

div.contents div.dynheader {
	color: var(--black-color);
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: dotted thin var(--border-color);
	margin-top: 1em;
	margin-bottom: 1em;
}

div.contents div.dyncontent {
	width: 100%;
	border: 1px solid var(--border-color);
	overflow: auto;
}

div.contents div.dyncontent div.center {
	text-align: center;
	margin: 16px;
}

div.contents td.memSeparator {
	display: none;
}

div.contents span.keycap, div.contents span.keysym {
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: var(--border-color);
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	background-color: var(--background-color);
	font-family: serif;
	font-variant: small-caps;
}

div.contents div.textblock {
	margin-bottom: 20px;
}

div.contents hr {
	display: none;
}

div.contents li {
	line-height: 1.3;
	margin-bottom: 10px;
	margin-left: 20px;
}

div.contents dt {
	margin-top: 16px;
	margin-bottom: 8px;
}

div.image {
	margin-top: 16px;
	margin-bottom: 8px;
}

.icon {
	font-weight: bold;
	font-size: 12px;
	height: 14px;
	width: 16px;
	display: inline-block;
	background-color: var(--main-color);
	color: var(--background-color);
	text-align: center;
	border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
}

/* Entry markers */
dl dt {
	font-weight: bold;
}
dl dt::after {
	content: ":";
}

/* The boxes from the userguide */
dl.note, dl.remark, dl.warning, dl.attention {
	border-style: solid;
	border-width: 2px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 4px;
	min-height: 48px;
}

dl.note dd, dl.remark dd, dl.warning dd, dl.attention dd {
	font-size: 12px;
}

dl.note {
	background: var(--background-color) url('https://www.haiku-os.org/images/alert_info_32.png') 15px 15px no-repeat;
	border-color: var(--border-color);
}

dl.remark {
	background: var(--background-color) url('https://www.haiku-os.org/images/alert_idea_32.png') 15px 15px no-repeat;
	border-color: var(--border-color);
}

dl.warning {
	/* lemon chiffon */
	background: var(--background-color) url('https://www.haiku-os.org/images/alert_warning_32.png') 15px 15px no-repeat;
	border-color: var(--border-color);
}

dl.attention {
	/* fair pink */
	background: var(--background-color) url('https://www.haiku-os.org/images/alert_stop_32.png') 15px 15px no-repeat;
	border-color: var(--main-color);
}

dl.note dt, dl.remark dt, dl.warning dt, dl.attention dt {
	display: none; /* don't display the Note: or Warning: header */
}

dl.note dd, dl.remark dd, dl.warning dd, dl.attention dd {
	margin: 10px 10px 10px 60px;
	color: black; /* pseudo-bold */
}

/* For keyboard shortcuts and the like (also from userguide) */

div.contents span.keycap {
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: var(--border-color);
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	background-color: var(--background-color);
	font-family: serif;
	font-variant: small-caps;
}

/* Continue with the rest of the standard Doxygen stuff... */

A.code:visited {
	text-decoration: none;
	font-weight: normal;
	/*color: #0000ff;*/
}
A.codeRef:link {
	font-weight: normal;
	/*color: blue;*/
}
A.codeRef:visited {
	font-weight: normal;
	/*color: blue;*/
}
dl.el {
	margin-left: -1cm
}

/* Code blocks */
div.fragment {
	width: 99%;
	background-color: var(--background-color);
	border: 1px solid #282828;
	border-radius: 10px;
	padding: 4px;
	color: var(--black-color);
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 1.3;
}
div.fragment pre.fragment a.code {
	font-weight: bold;
}
div.ah {
	background-color: var(--background-color);
	font-weight: bold;
	color: var(--black-color);
	margin-bottom: 3px;
	margin-top: 3px;
}
.div.ttc {
	font-size: 5px;
	line-height: 1.0;
}
TD.indexkey {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
TD.indexvalue {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}
TR.memlist {
   background-color: var(--background-color-emphasize);
}


/* member declaration table */

table.memberdecls {
	width: 100%;
}

table.memberdecls td.memItemLeft {
	font-size: 13px;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	white-space: nowrap;
	text-align: right;
	padding: 6px 0px 4px 8px;
	margin: 4px;
	vertical-align: top;
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.memItemRight {
	font-size: 13px;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	padding: 6px 8px 4px 0px;
	margin: 4px;
	vertical-align: top;
	border-top: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.mdescLeft {
	font-size: 13px;
	line-height: 1.3;
	padding: 1px 0px 4px 8px;
	margin: 0px;
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.mdescRight {
	font-size: 13px;
	line-height: 1.3;
	padding: 1px 8px 4px 0px;
	margin: 0px;
	border-bottom: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.mdescRight p {
	margin: 0;
	padding: 0;
}

table.memberdecls td.memTemplItemLeft {
	font-size: 13px;
	padding: 1px 0px 0px 8px;
	margin: 0px;
	text-align: right;
	border-left: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.memTemplItemRight {
	font-size: 13px;
	padding: 1px 8px 0px 0px;
	margin: 0px;
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td.memTemplParams {
	font-size: 13px;
	padding: 1px 0px 0px 8px;
	margin: 0px;
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	background-color: var(--background-color-emphasize);
}

table.memberdecls td div.groupHeader, tr.inherit_header {
	/* same as h3 */
	color: var(--main-color);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: dotted thin var(--border-color);
}
tr.inherit_header {
	cursor: pointer;
}

table.memberdecls td div.groupText {
	font-size: 14.4px;
}

/* Style for detailed member documentation */

div.memtemplate {
	font-weight: normal;
	font-style: normal;
}

div.memnav {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

/* member item */

div.memitem {
	margin-bottom: 20px;
	width: 100%;
	box-shadow: none;
	transition: none;
}

div.memitem dl.info, div.memitem dl.note, div.memitem dl.attention,
	div.memitem dl.warning,
	div.memitem dl.stop, div.memitem dl.bug {
	width: 99%;
}

/* member prototype */

div.memproto {
	padding: 4px;
	background-color: var(--background-color-emphasize);
	border: 1px solid var(--border-color);
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
	box-shadow: none;
	border-radius: 0;
}

div.memproto table {
	font-size: 14.4px;
}

/* member table */

div.memproto table.memname {
	line-height: 1.3;
	font-family: "Noto Sans Mono", Consolas, "Courier New", monospace, fixed;
}

div.memproto table.memname td.paramtype {
	white-space: nowrap;
}

div.memproto table.memname td.paramkey {
	text-align: right;
}

div.memproto table.memname td.paramname {
	white-space: nowrap;
}

div.memproto table.memname td.memname {
	white-space: nowrap;
}

/*table.memname {
	background: var(--background-color-emphasize);
}*/

/* member documentation */

div.memdoc {
	width: 100%;
	border: none;
	box-shadow: none;
	background: none;
}

div.memdoc div.memproto {
	margin-top: 2em;
}

div.memdoc table {
	width: 100%;
}

div.memdoc table td {
	vertical-align: middle;
	padding: 8px;
	border: 1px solid var(--border-color);
}

div.memdoc td:first-child {
	width: 157px;
}

div.memdoc dl dd table {
	width: 100%;
}

div.memdoc dl dd table td {
	font-size: 14.4px;
	padding: 8px;
	border: 1px solid var(--border-color);
}

div.memdoc dl dd table td ul, table td ol {
	margin-top: 8px;
	margin-bottom: 8px;
}

div.memdoc dl dd div.memdoc table.doxtable td {
    border: none;
}

/* parameters table */

div.memdoc dl dd table.params td.paramdir {
	vertical-align: top;
	color: var(--black-color);
	background: var(--background-color-emphasize);
	width: 157px;
}

dl .params, dl .tparams,  {
	background: var(--background-color-emphasize);
}


div.memdoc dl dd table.params td.paramname {
	vertical-align: top;
	font-weight: normal;
	font-style: normal;
	color: var(--main-color);
	width: 157px;
}

/* return values table */

div.memdoc dl dd table.retval td.paramname {
	vertical-align: top;
	color: var(--main-color);
	width: 157px;
}

/* End Styling for detailed member documentation */

/* Tree View on Directory Pages */
div.directory {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.directory .levels {
	padding: 10px;
	/*border: 1px solid black;*/
}

.directory .levels span {
	color: var(--main-color);
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid var(--main-color);
	padding: 5px;
	margin-right: 5px;
	text-align: center;
}

.directory .levels span:hover {
	opacity: 0.7;
	text-decoration: underline;
	background: var(--background-color);
}
/* Footer: color separator */

hr.footer {
	height: 1px;
	border-top: 1px solid var(--border-color);
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
}

.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
	color: black;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

/* Github */
.fa-github {
	background: #2A2D32;
	color: white;
}

/*Youtube*/
.fa-youtube {
	background: #DB0000;
	color: white;
}

/*Linked-In*/
.fa-linkedin {
	background: #3B67BE;
	color: white;
}

/*Gitlab*/
.fa-gitlab {
	background: #AE3F2F;
	color: white;
}

/*University*/
.fa-university {
	background: #8D2439;
	color: white;
}

/*Slack*/
.fa-slack {
	background: #421B4B;
	color: white;
}

/*Share*/
.fa-share-alt {
	background: darkgrey;
	color: white;
}

.fa-wikipedia-w {
	background: lightgrey;
	color: black;
	/*border: 1px solid black;*/
}

.fa-wikipedia-w:hover {
	color : white;
	background : black;
}

.ttc {
	/*display: inline-block;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}

span.lineno {
	/*width: 50px;*/
	/*padding: 10px;*/
	border-right: 1px solid var(--black-color);
	display: inline-block;
	width: 30px;
	padding-right: 5px;
	text-align: right
}

.ttname, .ttdef, .ttdeci, .ttdoc {
	font-size: 10px;
	line-height: 1.0;
}

.comment                     {color: #133213; font-style:italic; font-weight: bolder}
.code.hl_variable            {color: #343434; font-style:italic} /*; font-weight: bolder}*/
.code.hl_function            {color: #2d2d2d; font-style:italic} /*; font-weight: bolder}*/
.code.hl_class               {color: #2b2b2b; font-style:italic} /*; font-weight: bolder}*/
.a.code.hl_class             {color: #2b2b2b; font-style:italic} /*; font-weight: bolder}*/
.keywordflow                 {color: #000000; font-style:italic; font-weight: bolder}
.keyword                     {color: #000000; font-style:italic; font-weight: bolder}
.keywordtype                 {color: #000000; font-style:italic; font-weight: bolder}
.preprocessor                {color: #512f03; font-style:italic; font-weight: bolder}
.code.hl_struct              {color: #2b2b2b; font-style:italic} /*; font-weight: bolder}*/
.stringliteral               {color: #1b5a1b; font-style:italic; font-weight: bolder}
.code.hl_enumvalue           {color: #66020d; font-style:italic} /*; font-weight: bolder}*/
.code.hl_enumeration         {color: #66020d; font-style:italic} /*; font-weight: bolder}*/
.code.hl_typedef             {color: #646464; font-style:italic} /*; font-weight: bolder}*/
.type                        {color: #646464; font-style:italic} /*; font-weight: bolder}*/
.ttname                      {color: #2b2b2b; font-style:italic} /*; font-weight: bolder}*/
.code.hl_define              {color: #512f03; font-style:italic; font-weight: bolder}